@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:ital,wght@0,400;1,300&display=swap');

:root {
  --grey: #252827;
  --green: #39ff94;
  --light-grey: #d9d9d9;
  --transparent: rgba(255, 255, 255, 0);
  --mindhive-purple: #a462f5;
  --mindhive-blue:#2398f4;
  --mindhive-yellow: #b4e720;
  --mindhive-orange: #e76427;
  --mindhive-red:#f32d12;
  --mindhive-dark-red:#731313;

}
ul:not(.browser-default) {
	padding: 0;
}
.App {
	background-size: cover;
	font-family: Poppins;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins";
}
.content-page {
	margin-left: 19vw;
	min-height: 100vh;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.content-page.minimized-nav {
	margin-left: 4vw;
}
.logo-image {
	height: 4em;
}
span, p {
	font-family: "Poppins";
	line-height: 1.2em;
}
.warning-bar-content {
	display: none;
}
.pointer {
	cursor: pointer;
}
.align-self-center {
	align-self: center;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.inline {
	display: inline;
}
.flex {
	display: flex;
}
.dark-grey {
	background-color: var(--grey);
}
.green {
	background-color: var(--green);
}
.light-grey {
	background-color: var(--light-grey);
}
.light-grey-text {
	color: var(--light-grey) !important;
}
.text-center {
	text-align: center;
}
.min-full-height {
	min-height: 110vh;
}
.mindhive-blue {
	background-color: var(--mindhive-blue);
}
.mindhive-red {
	background-color: var(--mindhive-red);
}
.mindhive-purple {
	background-color: var(--mindhive-purple);
}
.mindhive-orange {
	background-color: var(--mindhive-orange);
}
.mindhive-yellow {
	background-color: var(--mindhive-yellow);
}
.mindhive-dark-red {
	background-color: var(--mindhive-dark-red);
}
.white {
	background-color: white;
}
.transparent {
	background-color: var(--transparent);
}
.flex-center-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.full-page {
	height: 100%;
	width: 100%;
}
.no-margin {
	margin: 0;
}
.header {
	font-size: 1.2em;
	font-weight: bold;
}
.highlight-on-hover:hover {
	color: var(--green);
	background-color: var(--grey);
}
.sub-text {
	font-size: 0.9em;
	font-family: Roboto;
}
.table-cell:hover {
	color: var(--green);
}
.side-padding {
	padding: 0em 0.5em;
}
.tabs {
	display: flex;
}
.tabs .tab {
	-webkit-box-flex: 1;
	flex-grow: 1;
	color: #000;
	text-align: center;
}
.tab:hover {
	background-color: var(--grey);
	color: var(--green);
}
.margin-top {
	margin-top: 4em;
}
.spinner-green, .spinner-green-only {
	border-color: var(--green);
}
.chart-holder {
	margin: 0.5em;
}
.sidenav-placeholder {
	height: 100vh;
	width:100vw;
	position: absolute;
	background-color: var(--grey);
}
.side-nav {
	height: 100vh;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.side-nav.full-width {
	width: 20vw;
}
.side-nav.min-width {
	width: 5vw;
}
.side-nav > .upper-background {
	height: 30%;
	background-image: url('https://i.imgur.com/agxmxH5.jpg');
	background-size: cover;
	position: relative;
	border-bottom: 1px outset var(--light-grey);
	display: flex;
	justify-content: center;
	margin-bottom: 3.5em;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.side-nav > .upper-background.min {
	height: 10%;
}
.minimize-button {
	background-color: rgba(37, 40, 39, 0.7);
	padding: 0.25em;
	font-size: 1.5em;
	right: 0;
	margin: auto;
	height: 100%;
	display: flex;
	position: absolute;
	color: white;
	z-index: 9;
	font-weight: bold;
}
.shadow {
	-webkit-box-shadow: 8px 0px 19px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px 0px 19px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 8px 0px 19px -4px rgba(0, 0, 0, 0.75);
}
.shadow-center {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}
.profile-pic {
	height: 5em;
	margin-bottom: auto;
	border-radius: 50%;
	width: 5em;
	position: absolute;
	bottom: 0;
	margin-bottom: -2.5em;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.profile-pic.min {
	height: 2em;
	width: 2em;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.profile-pic > img {
	height: inherit;
	width: inherit;
	border-radius: inherit;
}
.nav-info-box.min {
	display: none;
}
.info-text {
	display: block;
	text-align: center;
}
.info-text.name {
	font-size: 1.5em;
	color: #fff;
}
.info-text.email {
	font-size: 0.8em;
	color: #bebcc2;
}
.todo-items.up-to-date {
	color: var(--green);
}
.todo-items.still-todo {
	color: var(--green);
}
.menu-items {
	border-top: 1px outset #d9d9d9;
}
.nav-menu-item {
	padding: 0.5em;
	text-align: center;
	border-bottom: 1px outset #d9d9d9;
	background-size: 100% 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.nav-menu-item.min {
	display: flex;
	height: 4.5em;
	justify-content: center;
	align-items: center;
}
.nav-menu-item-text.min {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	transform: rotate(-90deg);
 /* Safari */
	-webkit-transform: rotate(-90deg);
 /* Firefox */
	-moz-transform: rotate(-90deg);
 /* IE */
	-ms-transform: rotate(-90deg);
 /* Opera */
	-o-transform: rotate(-90deg);
 /* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-size: 0.75em;
}
.purple-left-border {
	background-image: linear-gradient(to right, #a462f5 0%, transparent 5%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.purple-left-border:hover {
	background-image: linear-gradient(to right, #a462f5 0%, transparent 55%);
	background-size: 200% 100%;
}
.purple-left-border.min {
	background-image: linear-gradient(to right, #a462f5 0%, transparent 20%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.purple-left-border.min:hover {
	background-image: linear-gradient(to right, #a462f5 0%, transparent 55%);
	background-size: 200% 100%;
}
.blue-left-border {
	background-image: linear-gradient(to right, #2398f4 0%, transparent 5%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.blue-left-border:hover {
	background-image: linear-gradient(to right, #2398f4 0%, transparent 55%);
	background-size: 200% 100%;
}
.blue-left-border.min {
	background-image: linear-gradient(to right, #2398f4 0%, transparent 20%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.blue-left-border.min:hover {
	background-image: linear-gradient(to right, #2398f4 0%, transparent 55%);
	background-size: 200% 100%;
}
.yellow-left-border {
	background-image: linear-gradient(to right, #b4e720 0%, transparent 5%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.yellow-left-border:hover {
	background-image: linear-gradient(to right, #b4e720 0%, transparent 55%);
	background-size: 200% 100%;
}
.yellow-left-border.min {
	background-image: linear-gradient(to right, #b4e720 0%, transparent 20%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.yellow-left-border.min:hover {
	background-image: linear-gradient(to right, #b4e720 0%, transparent 55%);
	background-size: 200% 100%;
}
.orange-left-border {
	background-image: linear-gradient(to right, #e76427 0%, transparent 5%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.orange-left-border:hover {
	background-image: linear-gradient(to right, #e76427 0%, transparent 55%);
	background-size: 200% 100%;
}
.orange-left-border.min {
	background-image: linear-gradient(to right, #e76427 0%, transparent 20%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.orange-left-border.min:hover {
	background-image: linear-gradient(to right, #e76427 0%, transparent 55%);
	background-size: 200% 100%;
}
.red-left-border {
	background-image: linear-gradient(to right, #f32d12 0%, transparent 5%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.red-left-border:hover {
	background-image: linear-gradient(to right, #f32d12 0%, transparent 55%);
	background-size: 200% 100%;
}
.red-left-border.min {
	background-image: linear-gradient(to right, #f32d12 0%, transparent 20%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.red-left-border.min:hover {
	background-image: linear-gradient(to right, #f32d12 0%, transparent 55%);
	background-size: 200% 100%;
}
.dark-red-left-border {
	background-image: linear-gradient(to right, #731313 0%, transparent 5%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.dark-red-left-border:hover {
	background-image: linear-gradient(to right, #731313 0%, transparent 55%);
	background-size: 200% 100%;
}
.dark-red-left-border.min {
	background-image: linear-gradient(to right, #731313 0%, transparent 20%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.dark-red-left-border.min:hover {
	background-image: linear-gradient(to right, #731313 0%, transparent 55%);
	background-size: 200% 100%;
}
.gradient-background {
	background: #a462f5;
}
.section-toggle {
	display: flex;
	position: absolute;
	height: 100%;
	margin-left: -1.5em;
}
.section-toggle-button {
	width: 1em;
	height: 1em;
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	border-radius: 50%;
	background-color: white;
	font-weight: bold;
}
.dashboard-section {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	min-height: 100vh !important;
}

.dashboard-section.profile {
	overflow: hidden;
}
.dashboard-section.front {
	z-index: 1;
}
.dashboard-section.expanded-width {
	width: 90%;
	float: right;
}
.dashboard-section.minimized-width {
	width: 5%;
}
.dashboard-section.standard-width {
	width: 33%;
}
.chart-subtitle {
	color: #fff;
	padding: 0.25em;
	text-align: center;
	font-size: 0.9em;
}
.half-width {
	width: 50%;
}
.section-header {
	display: flex;
	justify-content: center;
	font-size: 1.5em;
}
.dropdown-display {
	padding: 0em 0.5em;
	font-weight: bold;
}
.dropdown-options {
	padding: 0em;
	position: absolute;
	top: 1em;
	z-index: 9;
	background-color: white;
	padding: 0.5em;
}
.dropdown-options > ul {
	padding: 0em !important;
	text-align: center;
}
.dropdown-options > li {
	padding: 0 1em;
	text-align: center;
	font-weight: bold;
	color: var(--grey);
}
.dropdown-options > li:hover {
	color: white;
	background-color: var(--grey);
}
.dashboard-profile-picture-holder {
	width: 100%;
	height: 15em;
	padding: 1em;
	display: flex;
	justify-content: center;
}
.dashboard-profile-picture-holder > img {
	height: inherit;
}
.before-after-pic {
	width: inherit;
}
.mindhive-logo {
	height: 15em;
	display: flex;
	justify-content: center;
}
.mindhive-logo > img {
	height: inherit;
}
.nutrition-form {
	padding: 1em;
	border: 1px solid var(--grey);
	border-radius: 10%;
	text-align: center;
	margin: 1em;
}

.ampmselect {

	width:5em;
}
.ampmselect:hover {
	background-color: var(--light-grey);
	color:var(--dark-grey);
}