:root {
	--grey: #252827;
	--green:#39ff94;
	--light-grey:#d9d9d9;

}

.pointer {
	cursor: pointer;
}

.grey {
	background-color: var(--grey);
}
.green {
	background-color: var(--green);
}
.light-grey {
	background-color: var(--light-grey);
}
.white {
	background-color: white;
}